body {
  font-family: Arial;
  margin: 40px;
  background: #AAFF00;
}

header {
  text-align: center;
  margin-bottom: 40px;
  color: black;
}

h1 {
  color: black;
}

h2, h3, h4, h5 {
  font-size: 30px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tabs button{
  padding:10px 20px;
  cursor:pointer;
  color: gray;
  border: none;
  background: white;
  border-radius: 6px 6px 0 0;
  font-size: 16px;
}

.tabs button:hover {
  background: #E5E7EB;
}

.tabs button{
  padding:10px;
  cursor:pointer;
}

.tab-content{
  display:none;
}

.tab-content.active{
  display:block;
}
