body {
  font-family: Creepster;
  margin: 40px;
  background: #AAFF00;
}

header {
  text-align: center;
  margin-bottom: 40px;
  color: #E4D00A;
}

h1 {
  color: #003366;
}

section {
  margin-bottom: 30px;
}

.tabs button{
  padding:10px;
  cursor:pointer;
}

.tab-content{
  display:none;
}

.tab-content.active{
  display:block;
}
